@model List<FlexCap.Web.Models.Colaborador>

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Position</th>
            <th>Department</th>
            <th>Team</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var colaborador in Model)
        {
            <tr>
                <td>@colaborador.FullName</td>
                <td>@colaborador.Email</td>
                <td>@colaborador.Position</td>
                <td>@colaborador.Department</td>
                <td>@colaborador.TeamName</td> 
                <td>@colaborador.Country</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@colaborador.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Excluir" asp-route-id="@colaborador.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>